body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080d47;
}

.calculator {
    background-color: #393b37;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator input[type="text"] {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.calculator button {
    width: 70px;
    height: 50px;
    font-size: 20px;
    margin: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.calculator button:hover {
    background-color: #45a049;
}